<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bg10%.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,240}</string>
                <key>spriteSourceSize</key>
                <string>{146,240}</string>
                <key>textureRect</key>
                <string>{{1027,1394},{146,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_new1_1941.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,1024}</string>
                <key>spriteSourceSize</key>
                <string>{541,1024}</string>
                <key>textureRect</key>
                <string>{{1,1027},{541,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_new2_1941.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,1024}</string>
                <key>spriteSourceSize</key>
                <string>{541,1024}</string>
                <key>textureRect</key>
                <string>{{572,1},{541,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_new3_1941.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{541,1024}</string>
                <key>spriteSourceSize</key>
                <string>{541,1024}</string>
                <key>textureRect</key>
                <string>{{1115,1},{541,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_new4_1941.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{569,1024}</string>
                <key>spriteSourceSize</key>
                <string>{569,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{569,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_newclose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,143}</string>
                <key>spriteSourceSize</key>
                <string>{365,143}</string>
                <key>textureRect</key>
                <string>{{1027,1027},{365,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_newnext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,143}</string>
                <key>spriteSourceSize</key>
                <string>{365,143}</string>
                <key>textureRect</key>
                <string>{{1172,1027},{365,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new.png</string>
            <key>size</key>
            <string>{1657,1569}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b98c824c8e64775d3aad728c7dc9babf:e2a8c0ed125e7c2480459d6c850f26a6:4c7305d7025eb429c325946902683c29$</string>
            <key>textureFileName</key>
            <string>new.png</string>
        </dict>
    </dict>
</plist>
