<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_new_back1_1403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,1024}</string>
                <key>spriteSourceSize</key>
                <string>{642,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{642,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_new_back2_1403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,1024}</string>
                <key>spriteSourceSize</key>
                <string>{642,1024}</string>
                <key>textureRect</key>
                <string>{{645,1},{642,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_new_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,142}</string>
                <key>spriteSourceSize</key>
                <string>{321,142}</string>
                <key>textureRect</key>
                <string>{{1289,327},{321,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_new_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,143}</string>
                <key>spriteSourceSize</key>
                <string>{324,143}</string>
                <key>textureRect</key>
                <string>{{1289,1},{324,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_blackbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1289,650},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new.png</string>
            <key>size</key>
            <string>{1433,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf54d2b0e94c5a10af8240a3f27425cf:4c096e4b9ae89f32e558cbd3c05ff1a9:4c7305d7025eb429c325946902683c29$</string>
            <key>textureFileName</key>
            <string>new.png</string>
        </dict>
    </dict>
</plist>
