<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_stone_down1464.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,379}</string>
                <key>spriteSourceSize</key>
                <string>{1024,379}</string>
                <key>textureRect</key>
                <string>{{1592,1},{1024,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_stone_up1464.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,567}</string>
                <key>spriteSourceSize</key>
                <string>{1024,567}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_upgold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,123}</string>
                <key>spriteSourceSize</key>
                <string>{127,123}</string>
                <key>textureRect</key>
                <string>{{1134,1027},{127,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_upgreenfinish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{983,951},{43,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_upgreenline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,11}</string>
                <key>spriteSourceSize</key>
                <string>{135,11}</string>
                <key>textureRect</key>
                <string>{{970,951},{135,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_uptitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{967,279}</string>
                <key>spriteSourceSize</key>
                <string>{967,279}</string>
                <key>textureRect</key>
                <string>{{1,951},{967,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wood_down1464.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,379}</string>
                <key>spriteSourceSize</key>
                <string>{1024,379}</string>
                <key>textureRect</key>
                <string>{{1,570},{1024,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_wood_up1464.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{1024,563}</string>
                <key>spriteSourceSize</key>
                <string>{1024,567}</string>
                <key>textureRect</key>
                <string>{{1027,1},{1024,563}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,149}</string>
                <key>spriteSourceSize</key>
                <string>{147,149}</string>
                <key>textureRect</key>
                <string>{{983,1027},{147,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Scene.png</string>
            <key>size</key>
            <string>{1972,1231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d690ec8e4f6689e97f81a8ea4d25f37:4a5aad21e5f20c748ecaad4b01ab71f0:5a4c22f81262f47b2475a372c8642ca7$</string>
            <key>textureFileName</key>
            <string>Scene.png</string>
        </dict>
    </dict>
</plist>
