<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ae_fanpai01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,0}</string>
                <key>spriteSize</key>
                <string>{109,259}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{1919,546},{109,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_fanpai02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,0}</string>
                <key>spriteSize</key>
                <string>{111,279}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{1835,912},{111,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_fanpai03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,-1}</string>
                <key>spriteSize</key>
                <string>{109,281}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{1808,629},{109,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_fanpai04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-1}</string>
                <key>spriteSize</key>
                <string>{111,281}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{1695,670},{111,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_fanpai05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{113,281}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{1669,387},{113,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_fanpai06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{139,281}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{1,1083},{139,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_fanpai07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-1}</string>
                <key>spriteSize</key>
                <string>{143,281}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{284,1076},{143,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_fanpai08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,0}</string>
                <key>spriteSize</key>
                <string>{159,281}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{1534,673},{159,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_fanpai09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,0}</string>
                <key>spriteSize</key>
                <string>{155,271}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{567,1068},{155,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_fanpai10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,1}</string>
                <key>spriteSize</key>
                <string>{155,259}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{1678,956},{155,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_fanpai11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,1}</string>
                <key>spriteSize</key>
                <string>{157,237}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{1784,387},{157,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_fanpai12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,0}</string>
                <key>spriteSize</key>
                <string>{157,229}</string>
                <key>spriteSourceSize</key>
                <string>{275,297}</string>
                <key>textureRect</key>
                <string>{{1519,992},{157,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_light01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{173,231}</string>
                <key>spriteSourceSize</key>
                <string>{231,305}</string>
                <key>textureRect</key>
                <string>{{840,1050},{173,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_light02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{189,247}</string>
                <key>spriteSourceSize</key>
                <string>{231,305}</string>
                <key>textureRect</key>
                <string>{{438,509},{189,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_light03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{199,257}</string>
                <key>spriteSourceSize</key>
                <string>{231,305}</string>
                <key>textureRect</key>
                <string>{{687,493},{199,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_light04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{211,269}</string>
                <key>spriteSourceSize</key>
                <string>{231,305}</string>
                <key>textureRect</key>
                <string>{{1073,1009},{211,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_light05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{187,245}</string>
                <key>spriteSourceSize</key>
                <string>{231,305}</string>
                <key>textureRect</key>
                <string>{{1194,493},{187,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_light06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{173,231}</string>
                <key>spriteSourceSize</key>
                <string>{231,305}</string>
                <key>textureRect</key>
                <string>{{1344,992},{173,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_put01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{162,218}</string>
                <key>spriteSourceSize</key>
                <string>{312,428}</string>
                <key>textureRect</key>
                <string>{{1800,1},{162,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_put02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{188,246}</string>
                <key>spriteSourceSize</key>
                <string>{312,428}</string>
                <key>textureRect</key>
                <string>{{946,493},{188,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_put03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,5}</string>
                <key>spriteSize</key>
                <string>{226,284}</string>
                <key>spriteSourceSize</key>
                <string>{312,428}</string>
                <key>textureRect</key>
                <string>{{1441,387},{226,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_put04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,10}</string>
                <key>spriteSize</key>
                <string>{250,308}</string>
                <key>spriteSourceSize</key>
                <string>{312,428}</string>
                <key>textureRect</key>
                <string>{{1282,682},{250,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_put05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{264,324}</string>
                <key>spriteSourceSize</key>
                <string>{312,428}</string>
                <key>textureRect</key>
                <string>{{1016,683},{264,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_put06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{278,354}</string>
                <key>spriteSourceSize</key>
                <string>{312,428}</string>
                <key>textureRect</key>
                <string>{{736,694},{278,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_put07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{280,366}</string>
                <key>spriteSourceSize</key>
                <string>{312,428}</string>
                <key>textureRect</key>
                <string>{{454,700},{280,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_put08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,10}</string>
                <key>spriteSize</key>
                <string>{290,374}</string>
                <key>spriteSourceSize</key>
                <string>{312,428}</string>
                <key>textureRect</key>
                <string>{{162,700},{290,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_put09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{306,384}</string>
                <key>spriteSourceSize</key>
                <string>{312,428}</string>
                <key>textureRect</key>
                <string>{{1186,1},{306,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_put10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{304,384}</string>
                <key>spriteSourceSize</key>
                <string>{312,428}</string>
                <key>textureRect</key>
                <string>{{1494,1},{304,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_submit01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{108,156}</string>
                <key>textureRect</key>
                <string>{{1186,387},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_submit02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{108,156}</string>
                <key>textureRect</key>
                <string>{{1290,387},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_submit03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{58,66}</string>
                <key>spriteSourceSize</key>
                <string>{108,156}</string>
                <key>textureRect</key>
                <string>{{1948,807},{58,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_submit04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{108,156}</string>
                <key>textureRect</key>
                <string>{{1290,387},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_time01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{480,112}</string>
                <key>spriteSourceSize</key>
                <string>{574,226}</string>
                <key>textureRect</key>
                <string>{{1072,1},{480,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_time02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{490,122}</string>
                <key>spriteSourceSize</key>
                <string>{574,226}</string>
                <key>textureRect</key>
                <string>{{578,1},{490,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_time03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{490,122}</string>
                <key>spriteSourceSize</key>
                <string>{574,226}</string>
                <key>textureRect</key>
                <string>{{702,1},{490,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_time04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{506,138}</string>
                <key>spriteSourceSize</key>
                <string>{574,226}</string>
                <key>textureRect</key>
                <string>{{438,1},{506,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_time05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{490,122}</string>
                <key>spriteSourceSize</key>
                <string>{574,226}</string>
                <key>textureRect</key>
                <string>{{826,1},{490,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_time06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{488,120}</string>
                <key>spriteSourceSize</key>
                <string>{574,226}</string>
                <key>textureRect</key>
                <string>{{950,1},{488,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,81}</string>
                <key>spriteSourceSize</key>
                <string>{75,81}</string>
                <key>textureRect</key>
                <string>{{1784,546},{75,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{1948,867},{58,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_congra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,159}</string>
                <key>spriteSourceSize</key>
                <string>{1080,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{1080,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_gamecom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{697,227}</string>
                <key>spriteSourceSize</key>
                <string>{697,227}</string>
                <key>textureRect</key>
                <string>{{162,1},{697,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,45}</string>
                <key>spriteSourceSize</key>
                <string>{677,45}</string>
                <key>textureRect</key>
                <string>{{391,1},{677,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SolitaireAnimation.png</string>
            <key>size</key>
            <string>{2029,1224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc710bc65baa04d96242f65cdfb9f434:695ceb80383000f7c95643260c36dbd6:4d9fc6bc22f99c7e8a0d4a15e42039b8$</string>
            <key>textureFileName</key>
            <string>SolitaireAnimation.png</string>
        </dict>
    </dict>
</plist>
