<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_aback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,198}</string>
                <key>spriteSourceSize</key>
                <string>{141,198}</string>
                <key>textureRect</key>
                <string>{{1,1901},{141,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_backcolor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,205}</string>
                <key>spriteSourceSize</key>
                <string>{147,205}</string>
                <key>textureRect</key>
                <string>{{257,1534},{147,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_correct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,230}</string>
                <key>spriteSourceSize</key>
                <string>{173,230}</string>
                <key>textureRect</key>
                <string>{{793,108},{173,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_font01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,82}</string>
                <key>spriteSourceSize</key>
                <string>{723,82}</string>
                <key>textureRect</key>
                <string>{{1,450},{703,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{591,82}</string>
                <key>spriteSourceSize</key>
                <string>{723,82}</string>
                <key>textureRect</key>
                <string>{{640,534},{591,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_font03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{495,82}</string>
                <key>spriteSourceSize</key>
                <string>{723,82}</string>
                <key>textureRect</key>
                <string>{{1,618},{495,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,80}</string>
                <key>spriteSize</key>
                <string>{726,256}</string>
                <key>spriteSourceSize</key>
                <string>{898,642}</string>
                <key>textureRect</key>
                <string>{{1,192},{726,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{790,82}</string>
                <key>spriteSourceSize</key>
                <string>{792,82}</string>
                <key>textureRect</key>
                <string>{{1,108},{790,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,82}</string>
                <key>spriteSourceSize</key>
                <string>{723,82}</string>
                <key>textureRect</key>
                <string>{{1,534},{637,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_rightline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{459,199}</string>
                <key>spriteSourceSize</key>
                <string>{459,199}</string>
                <key>textureRect</key>
                <string>{{1,855},{459,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_0110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1,1687},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{159,1687},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{257,1320},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{317,1683},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{415,1285},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{475,1661},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{573,1220},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{619,1434},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{633,1648},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_01A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{724,931},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_01J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{776,769},{156,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_solitarie_01K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{731,1145},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_01Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{882,927},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_0210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{990,769},{156,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_solitarie_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{777,1359},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{889,1141},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1040,927},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{791,1573},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{935,1355},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1047,1141},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1198,927},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1204,705},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_02A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{913,1787},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_02J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{949,1569},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_02K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1093,1355},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_02Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1205,1141},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_0310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1356,919},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1362,705},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1071,1783},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1107,1569},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1251,1355},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1363,1133},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1514,919},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1520,705},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1229,1783},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_03A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1265,1569},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_03J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1409,1347},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_03K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1521,1133},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_03Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1672,919},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_0410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1678,705},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1836,705},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1830,919},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1387,1783},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1423,1561},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1567,1347},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1679,1133},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1837,1133},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1545,1775},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_04A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1581,1561},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_04J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1725,1347},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_04K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1703,1775},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarie_04Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,212}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{1739,1561},{156,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarienone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,219}</string>
                <key>spriteSourceSize</key>
                <string>{160,219}</string>
                <key>textureRect</key>
                <string>{{776,283},{160,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_solitarienone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,219}</string>
                <key>spriteSourceSize</key>
                <string>{160,219}</string>
                <key>textureRect</key>
                <string>{{776,445},{160,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_solitarienone20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,219}</string>
                <key>spriteSourceSize</key>
                <string>{160,219}</string>
                <key>textureRect</key>
                <string>{{776,607},{160,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_solitarienone3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,219}</string>
                <key>spriteSourceSize</key>
                <string>{160,219}</string>
                <key>textureRect</key>
                <string>{{462,999},{160,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_solitarienoneback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{144,200}</string>
                <key>spriteSourceSize</key>
                <string>{156,214}</string>
                <key>textureRect</key>
                <string>{{401,1897},{144,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,81}</string>
                <key>spriteSourceSize</key>
                <string>{75,81}</string>
                <key>textureRect</key>
                <string>{{382,1056},{75,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_star2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{58,59}</string>
                <key>textureRect</key>
                <string>{{729,192},{58,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_stop_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{987,702}</string>
                <key>spriteSourceSize</key>
                <string>{987,702}</string>
                <key>textureRect</key>
                <string>{{1037,1},{987,702}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1034,105}</string>
                <key>spriteSourceSize</key>
                <string>{1034,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{1034,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_xback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,198}</string>
                <key>spriteSourceSize</key>
                <string>{141,198}</string>
                <key>textureRect</key>
                <string>{{201,1901},{141,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{153,160}</string>
                <key>textureRect</key>
                <string>{{464,1499},{153,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_backgray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{153,160}</string>
                <key>textureRect</key>
                <string>{{603,1875},{153,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,130}</string>
                <key>spriteSourceSize</key>
                <string>{379,130}</string>
                <key>textureRect</key>
                <string>{{498,618},{379,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,151}</string>
                <key>spriteSourceSize</key>
                <string>{471,151}</string>
                <key>textureRect</key>
                <string>{{1,702},{471,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,126}</string>
                <key>spriteSourceSize</key>
                <string>{365,126}</string>
                <key>textureRect</key>
                <string>{{1,1320},{365,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,124}</string>
                <key>spriteSourceSize</key>
                <string>{123,124}</string>
                <key>textureRect</key>
                <string>{{1883,1347},{123,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,130}</string>
                <key>spriteSourceSize</key>
                <string>{379,130}</string>
                <key>textureRect</key>
                <string>{{1,1056},{379,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,126}</string>
                <key>spriteSourceSize</key>
                <string>{365,126}</string>
                <key>textureRect</key>
                <string>{{129,1320},{365,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,160}</string>
                <key>spriteSourceSize</key>
                <string>{153,160}</string>
                <key>textureRect</key>
                <string>{{758,1862},{153,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_submit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,130}</string>
                <key>spriteSourceSize</key>
                <string>{379,130}</string>
                <key>textureRect</key>
                <string>{{1,1188},{379,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,45}</string>
                <key>spriteSourceSize</key>
                <string>{677,45}</string>
                <key>textureRect</key>
                <string>{{729,252},{677,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_pts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,64}</string>
                <key>spriteSourceSize</key>
                <string>{79,64}</string>
                <key>textureRect</key>
                <string>{{382,1139},{79,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{382,1220},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_timeorg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{447,1220},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SolitaireWin.png</string>
            <key>size</key>
            <string>{2025,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a63e5ef18b9b6a236838430ee622b7:3348c32d622000d27ab6839002c6d1cf:0d7dc5e037b43b2207fdecd7ff517a72$</string>
            <key>textureFileName</key>
            <string>SolitaireWin.png</string>
        </dict>
    </dict>
</plist>
