<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,90}</string>
                <key>spriteSourceSize</key>
                <string>{498,90}</string>
                <key>textureRect</key>
                <string>{{846,825},{498,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballback10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{776,1128},{67,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballback12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{1302,759},{67,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballback2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{1473,1043},{67,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ballback3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{1473,1112},{67,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ballback4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{1466,1181},{67,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ballback6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{1466,1250},{67,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ballback8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{1466,1319},{67,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ballback9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,45}</string>
                <key>spriteSourceSize</key>
                <string>{67,45}</string>
                <key>textureRect</key>
                <string>{{1463,1388},{67,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ballg10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{705,932},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballg12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{994,1336},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1302,688},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1331,1098},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1402,1098},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1395,1169},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballg8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1395,1240},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballg9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1395,1311},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ballwhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,12}</string>
                <key>spriteSourceSize</key>
                <string>{67,12}</string>
                <key>textureRect</key>
                <string>{{582,1490},{67,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_btnbackbig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,117}</string>
                <key>spriteSourceSize</key>
                <string>{314,117}</string>
                <key>textureRect</key>
                <string>{{776,1175},{314,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_btnbackcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,132}</string>
                <key>spriteSourceSize</key>
                <string>{356,132}</string>
                <key>textureRect</key>
                <string>{{515,1027},{356,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_btnsmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{1320,972},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,135}</string>
                <key>spriteSourceSize</key>
                <string>{436,135}</string>
                <key>textureRect</key>
                <string>{{882,972},{436,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,141}</string>
                <key>spriteSourceSize</key>
                <string>{470,141}</string>
                <key>textureRect</key>
                <string>{{846,539},{470,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,141}</string>
                <key>spriteSourceSize</key>
                <string>{454,141}</string>
                <key>textureRect</key>
                <string>{{846,682},{454,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_holerightmid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,110}</string>
                <key>spriteSourceSize</key>
                <string>{107,110}</string>
                <key>textureRect</key>
                <string>{{882,1388},{107,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,889}</string>
                <key>spriteSourceSize</key>
                <string>{97,889}</string>
                <key>textureRect</key>
                <string>{{1380,1},{97,889}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_leftback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,615}</string>
                <key>spriteSourceSize</key>
                <string>{53,615}</string>
                <key>textureRect</key>
                <string>{{846,917},{53,615}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_leftcue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,579}</string>
                <key>spriteSourceSize</key>
                <string>{24,579}</string>
                <key>textureRect</key>
                <string>{{1,1490},{24,579}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_leftline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,292}</string>
                <key>spriteSourceSize</key>
                <string>{40,292}</string>
                <key>textureRect</key>
                <string>{{776,1294},{40,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_leftpower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,588}</string>
                <key>spriteSourceSize</key>
                <string>{35,588}</string>
                <key>textureRect</key>
                <string>{{1479,1},{35,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_redpoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1463,1457},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_result_1505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,1024}</string>
                <key>spriteSourceSize</key>
                <string>{702,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{702,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,879}</string>
                <key>spriteSourceSize</key>
                <string>{97,879}</string>
                <key>textureRect</key>
                <string>{{1,1391},{97,879}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_rightline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1318,591},{36,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_sback1317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,362}</string>
                <key>spriteSourceSize</key>
                <string>{512,362}</string>
                <key>textureRect</key>
                <string>{{1,1027},{512,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{929,139}</string>
                <key>spriteSourceSize</key>
                <string>{929,139}</string>
                <key>textureRect</key>
                <string>{{705,1},{929,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1446,972},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_whitebig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,536}</string>
                <key>spriteSourceSize</key>
                <string>{532,536}</string>
                <key>textureRect</key>
                <string>{{846,1},{532,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_whiteline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,12}</string>
                <key>spriteSourceSize</key>
                <string>{6,12}</string>
                <key>textureRect</key>
                <string>{{649,1373},{6,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,125}</string>
                <key>spriteSourceSize</key>
                <string>{344,125}</string>
                <key>textureRect</key>
                <string>{{649,1027},{344,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,111}</string>
                <key>spriteSourceSize</key>
                <string>{301,111}</string>
                <key>textureRect</key>
                <string>{{1092,1175},{301,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{114,119}</string>
                <key>textureRect</key>
                <string>{{994,1407},{114,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{114,119}</string>
                <key>textureRect</key>
                <string>{{1115,1399},{114,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nosound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{1347,1399},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pointview.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{1318,629},{57,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,109}</string>
                <key>spriteSourceSize</key>
                <string>{301,109}</string>
                <key>textureRect</key>
                <string>{{1092,1288},{301,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,119}</string>
                <key>spriteSourceSize</key>
                <string>{114,119}</string>
                <key>textureRect</key>
                <string>{{1231,1399},{114,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_goldnum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{394,64}</string>
                <key>spriteSourceSize</key>
                <string>{400,64}</string>
                <key>textureRect</key>
                <string>{{882,1109},{394,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_trick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,50}</string>
                <key>spriteSourceSize</key>
                <string>{216,50}</string>
                <key>textureRect</key>
                <string>{{776,1336},{216,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,51}</string>
                <key>spriteSourceSize</key>
                <string>{73,51}</string>
                <key>textureRect</key>
                <string>{{776,932},{73,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_x10yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,51}</string>
                <key>spriteSourceSize</key>
                <string>{73,51}</string>
                <key>textureRect</key>
                <string>{{829,972},{73,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,51}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{776,1068},{58,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,51}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{1278,1109},{58,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{1318,539},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,51}</string>
                <key>spriteSourceSize</key>
                <string>{59,51}</string>
                <key>textureRect</key>
                <string>{{776,1007},{59,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,51}</string>
                <key>spriteSourceSize</key>
                <string>{59,51}</string>
                <key>textureRect</key>
                <string>{{829,1047},{59,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1519,1522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41f19d4849a5f67ab05fa921e9b90a61:882891bf44f14cf028489068715305b5:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
