<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ae_add1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{201,86}</string>
                <key>spriteSourceSize</key>
                <string>{437,152}</string>
                <key>textureRect</key>
                <string>{{1159,438},{201,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_add2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{227,86}</string>
                <key>spriteSourceSize</key>
                <string>{437,152}</string>
                <key>textureRect</key>
                <string>{{1247,410},{227,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_add3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{205,86}</string>
                <key>spriteSourceSize</key>
                <string>{437,152}</string>
                <key>textureRect</key>
                <string>{{1071,438},{205,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_add4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{217,88}</string>
                <key>spriteSourceSize</key>
                <string>{437,152}</string>
                <key>textureRect</key>
                <string>{{1191,641},{217,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_choose1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{74,90}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{595,759},{74,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_choose10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{378,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{378,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_choose2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{140,158}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{453,759},{140,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_choose3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{210,284}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{671,651},{210,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_choose4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{270,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{883,651},{270,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_choose5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{280,324}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{745,369},{280,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_choose6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{306,354}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{363,403},{306,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_choose7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,9}</string>
                <key>spriteSize</key>
                <string>{324,366}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{745,1},{324,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_choose8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{362,386}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{381,1},{362,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_choose9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{360,394}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,403},{360,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font_complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,131}</string>
                <key>spriteSourceSize</key>
                <string>{435,131}</string>
                <key>textureRect</key>
                <string>{{1071,1},{435,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_font_gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,131}</string>
                <key>spriteSourceSize</key>
                <string>{450,131}</string>
                <key>textureRect</key>
                <string>{{1,799},{450,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font_time'sup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,125}</string>
                <key>spriteSourceSize</key>
                <string>{407,125}</string>
                <key>textureRect</key>
                <string>{{1204,1},{407,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Animation.png</string>
            <key>size</key>
            <string>{1334,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7155a08bc2fe12e00372726e74640ebf:ecc56ba05104c4e18485b57ea474a549:935ea5c547feccc8f1bd2ec0e1a13b5f$</string>
            <key>textureFileName</key>
            <string>Animation.png</string>
        </dict>
    </dict>
</plist>
