<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ae_complete1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-215}</string>
                <key>spriteSize</key>
                <string>{88,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1802,1329},{88,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-15}</string>
                <key>spriteSize</key>
                <string>{378,342}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{916,419},{378,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-10}</string>
                <key>spriteSize</key>
                <string>{420,396}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1649,1},{420,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_complete12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{498,412}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,889},{498,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{508,410}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1139,1},{508,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-20}</string>
                <key>spriteSize</key>
                <string>{506,400}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{501,889},{506,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_complete2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-192}</string>
                <key>spriteSize</key>
                <string>{134,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1865,1011},{134,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-159}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1908,1259},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-150}</string>
                <key>spriteSize</key>
                <string>{142,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1658,1358},{142,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-129}</string>
                <key>spriteSize</key>
                <string>{138,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1502,1358},{138,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_complete6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-105}</string>
                <key>spriteSize</key>
                <string>{140,200}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1865,645},{140,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-75}</string>
                <key>spriteSize</key>
                <string>{184,220}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1838,423},{184,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-37}</string>
                <key>spriteSize</key>
                <string>{228,262}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1608,423},{228,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-42}</string>
                <key>spriteSize</key>
                <string>{310,326}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1296,413},{310,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_get1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1998,1381},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_get2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1950,1381},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_get3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1892,1381},{54,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_get4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1421,1372},{84,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_get5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{84,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{909,763},{84,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_get6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{541,1397},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_get7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1802,1413},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_get8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{463,1397},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_movefly1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-23}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1608,687},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_movefly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{693,1397},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_movefly3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{619,1397},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_movefly4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{831,1397},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_movefly5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{68,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{761,1397},{68,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_movefly6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{72,56}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1206,1440},{72,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_outofmove1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{122,114}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1297,1372},{122,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_outofmove2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,9}</string>
                <key>spriteSize</key>
                <string>{144,134}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1908,1113},{144,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_outofmove3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{154,162}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1865,847},{154,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_outofmove4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{184,202}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1722,1125},{184,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_outofmove5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1647,907},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_outofmove6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{224,218}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1502,1132},{224,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_outofmove7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{222,210}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{697,665},{222,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_outofmove8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{218,216}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1647,687},{218,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_passone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{2024,423},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_passone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1838,667},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_passone3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1838,645},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_passone4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{2021,833},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_passone5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{909,849},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_passone6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1722,1329},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_time1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{1421,1458},{72,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_time2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{92,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{2007,645},{92,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_time3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{98,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{2001,1011},{98,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_time4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{92,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,32}</string>
                <key>textureRect</key>
                <string>{{2007,739},{92,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_complete100%.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,416}</string>
                <key>spriteSourceSize</key>
                <string>{1136,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{1136,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_2great.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,143}</string>
                <key>spriteSourceSize</key>
                <string>{389,143}</string>
                <key>textureRect</key>
                <string>{{1502,741},{389,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_3wonderful.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{703,212}</string>
                <key>spriteSourceSize</key>
                <string>{703,212}</string>
                <key>textureRect</key>
                <string>{{992,763},{703,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_4amazing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{629,203}</string>
                <key>spriteSourceSize</key>
                <string>{629,203}</string>
                <key>textureRect</key>
                <string>{{1297,741},{629,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_5excellent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,222}</string>
                <key>spriteSourceSize</key>
                <string>{694,222}</string>
                <key>textureRect</key>
                <string>{{1,665},{694,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_6unbelievable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{913,244}</string>
                <key>spriteSourceSize</key>
                <string>{913,244}</string>
                <key>textureRect</key>
                <string>{{1,419},{913,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,87}</string>
                <key>spriteSourceSize</key>
                <string>{484,87}</string>
                <key>textureRect</key>
                <string>{{1,1303},{484,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,87}</string>
                <key>spriteSourceSize</key>
                <string>{576,87}</string>
                <key>textureRect</key>
                <string>{{903,889},{576,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_outofmove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{675,89}</string>
                <key>spriteSourceSize</key>
                <string>{675,95}</string>
                <key>textureRect</key>
                <string>{{1206,763},{675,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_timeup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,87}</string>
                <key>spriteSourceSize</key>
                <string>{460,87}</string>
                <key>textureRect</key>
                <string>{{1,1392},{460,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UIAnimation.png</string>
            <key>size</key>
            <string>{2046,1497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdbbb04cccbf0c817ef7547a4186ba9f:2b24f656f28aa4f13514b17bb74b2f22:bfa65cd9240047942e43485ffa21064a$</string>
            <key>textureFileName</key>
            <string>UIAnimation.png</string>
        </dict>
    </dict>
</plist>
