<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ae_font原大.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{1039,108}</string>
                <key>spriteSourceSize</key>
                <string>{1149,112}</string>
                <key>textureRect</key>
                <string>{{1,870},{1039,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_score01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-95}</string>
                <key>spriteSize</key>
                <string>{31,73}</string>
                <key>spriteSourceSize</key>
                <string>{83,317}</string>
                <key>textureRect</key>
                <string>{{1957,1561},{31,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_score010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{9,225}</string>
                <key>spriteSourceSize</key>
                <string>{83,317}</string>
                <key>textureRect</key>
                <string>{{1982,1},{9,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_score02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-75}</string>
                <key>spriteSize</key>
                <string>{71,103}</string>
                <key>spriteSourceSize</key>
                <string>{83,317}</string>
                <key>textureRect</key>
                <string>{{1010,1464},{71,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_score03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{69,197}</string>
                <key>spriteSourceSize</key>
                <string>{83,317}</string>
                <key>textureRect</key>
                <string>{{1488,1118},{69,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_score04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-26}</string>
                <key>spriteSize</key>
                <string>{71,231}</string>
                <key>spriteSourceSize</key>
                <string>{83,317}</string>
                <key>textureRect</key>
                <string>{{1010,1231},{71,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_score05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{73,219}</string>
                <key>spriteSourceSize</key>
                <string>{83,317}</string>
                <key>textureRect</key>
                <string>{{933,1691},{73,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_score06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{69,219}</string>
                <key>spriteSourceSize</key>
                <string>{83,317}</string>
                <key>textureRect</key>
                <string>{{1010,1569},{69,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_score07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{71,201}</string>
                <key>spriteSourceSize</key>
                <string>{83,317}</string>
                <key>textureRect</key>
                <string>{{1489,1045},{71,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_score08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,24}</string>
                <key>spriteSize</key>
                <string>{35,245}</string>
                <key>spriteSourceSize</key>
                <string>{83,317}</string>
                <key>textureRect</key>
                <string>{{808,1194},{35,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_score09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,20}</string>
                <key>spriteSize</key>
                <string>{21,277}</string>
                <key>spriteSourceSize</key>
                <string>{83,317}</string>
                <key>textureRect</key>
                <string>{{808,937},{21,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_time01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{274,115}</string>
                <key>spriteSourceSize</key>
                <string>{534,173}</string>
                <key>textureRect</key>
                <string>{{808,960},{274,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_time02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{274,115}</string>
                <key>spriteSourceSize</key>
                <string>{534,173}</string>
                <key>textureRect</key>
                <string>{{808,1077},{274,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_time03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{368,173}</string>
                <key>spriteSourceSize</key>
                <string>{534,173}</string>
                <key>textureRect</key>
                <string>{{1488,1189},{368,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_time04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{402,173}</string>
                <key>spriteSourceSize</key>
                <string>{534,173}</string>
                <key>textureRect</key>
                <string>{{1806,787},{402,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_time05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{402,173}</string>
                <key>spriteSourceSize</key>
                <string>{534,173}</string>
                <key>textureRect</key>
                <string>{{1084,1112},{402,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_time06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{368,173}</string>
                <key>spriteSourceSize</key>
                <string>{534,173}</string>
                <key>textureRect</key>
                <string>{{1796,1191},{368,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1695,916},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1695,1024},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1687,1132},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_darkblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1008,1790},{107,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_darkgreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1081,1580},{107,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1189,1580},{107,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1297,1580},{107,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1405,1580},{107,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1529,1765},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1660,1772},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,106}</string>
                <key>spriteSourceSize</key>
                <string>{107,106}</string>
                <key>textureRect</key>
                <string>{{1868,1796},{107,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_cubeback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,377}</string>
                <key>spriteSourceSize</key>
                <string>{132,377}</string>
                <key>textureRect</key>
                <string>{{1083,1446},{132,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_cubefront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,321}</string>
                <key>spriteSourceSize</key>
                <string>{133,321}</string>
                <key>textureRect</key>
                <string>{{1,1911},{133,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{867,1110}</string>
                <key>spriteSourceSize</key>
                <string>{867,1110}</string>
                <key>textureRect</key>
                <string>{{1,1},{867,1110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_pause2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{867,784}</string>
                <key>spriteSourceSize</key>
                <string>{867,784}</string>
                <key>textureRect</key>
                <string>{{1113,1},{867,784}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_result1630.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,1024}</string>
                <key>spriteSourceSize</key>
                <string>{545,1024}</string>
                <key>textureRect</key>
                <string>{{111,870},{545,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_resultblue10%.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,240}</string>
                <key>spriteSourceSize</key>
                <string>{146,240}</string>
                <key>textureRect</key>
                <string>{{324,1896},{146,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_resultgreen10%.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,240}</string>
                <key>spriteSourceSize</key>
                <string>{146,240}</string>
                <key>textureRect</key>
                <string>{{566,1896},{146,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_resultred10%.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,240}</string>
                <key>spriteSourceSize</key>
                <string>{146,240}</string>
                <key>textureRect</key>
                <string>{{658,937},{146,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{933,1912},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{1036,1899},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{1116,1760},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_darkblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{1513,1559},{101,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_darkgreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{1647,1566},{101,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{1513,1662},{101,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{1647,1669},{101,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{1139,1894},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{1219,1760},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{1242,1894},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{1322,1760},{101,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,142}</string>
                <key>spriteSourceSize</key>
                <string>{348,142}</string>
                <key>textureRect</key>
                <string>{{658,1179},{348,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,161}</string>
                <key>spriteSourceSize</key>
                <string>{129,161}</string>
                <key>textureRect</key>
                <string>{{1663,1240},{129,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,161}</string>
                <key>spriteSourceSize</key>
                <string>{129,161}</string>
                <key>textureRect</key>
                <string>{{1663,1403},{129,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nosound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,161}</string>
                <key>spriteSourceSize</key>
                <string>{129,161}</string>
                <key>textureRect</key>
                <string>{{1794,1561},{129,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,142}</string>
                <key>spriteSourceSize</key>
                <string>{348,142}</string>
                <key>textureRect</key>
                <string>{{658,1529},{348,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,161}</string>
                <key>spriteSourceSize</key>
                <string>{129,161}</string>
                <key>textureRect</key>
                <string>{{802,1692},{129,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_submit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,157}</string>
                <key>spriteSourceSize</key>
                <string>{387,157}</string>
                <key>textureRect</key>
                <string>{{1083,1287},{387,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_undo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,161}</string>
                <key>spriteSourceSize</key>
                <string>{129,161}</string>
                <key>textureRect</key>
                <string>{{1345,1894},{129,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_undogrey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,161}</string>
                <key>spriteSourceSize</key>
                <string>{129,161}</string>
                <key>textureRect</key>
                <string>{{1529,1873},{129,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{802,1566},{123,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{906,1566},{123,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{808,1855},{123,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_darkblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{1425,1765},{123,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_darkgreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{802,1231},{123,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{802,1335},{123,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{802,1439},{123,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{906,1439},{123,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{1781,1692},{123,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{1660,1880},{123,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{1764,1880},{123,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,65}</string>
                <key>spriteSourceSize</key>
                <string>{403,65}</string>
                <key>textureRect</key>
                <string>{{1084,1045},{403,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,65}</string>
                <key>spriteSourceSize</key>
                <string>{449,65}</string>
                <key>textureRect</key>
                <string>{{658,870},{449,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_pausehave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{691,127}</string>
                <key>spriteSourceSize</key>
                <string>{691,127}</string>
                <key>textureRect</key>
                <string>{{1113,787},{691,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_pauseno.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,127}</string>
                <key>spriteSourceSize</key>
                <string>{584,127}</string>
                <key>textureRect</key>
                <string>{{1109,916},{584,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_time's up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,66}</string>
                <key>spriteSourceSize</key>
                <string>{374,66}</string>
                <key>textureRect</key>
                <string>{{1081,1692},{374,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameAtlas.png</string>
            <key>size</key>
            <string>{1992,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2768ff2116bd5482287cc585d7a4766c:3aec6fe0aff84e23dabc187f8fc1923b:9a807abfd700f84b65170b8b7811f9b8$</string>
            <key>textureFileName</key>
            <string>GameAtlas.png</string>
        </dict>
    </dict>
</plist>
