<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bg10%.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,240}</string>
                <key>spriteSourceSize</key>
                <string>{146,240}</string>
                <key>textureRect</key>
                <string>{{1,751},{146,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{591,89}</string>
                <key>spriteSourceSize</key>
                <string>{591,89}</string>
                <key>textureRect</key>
                <string>{{149,902},{591,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font_nofree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,89}</string>
                <key>spriteSourceSize</key>
                <string>{499,89}</string>
                <key>textureRect</key>
                <string>{{1027,1},{499,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_pause_back1088-1490.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,1024}</string>
                <key>spriteSourceSize</key>
                <string>{748,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{748,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,127}</string>
                <key>spriteSourceSize</key>
                <string>{327,127}</string>
                <key>textureRect</key>
                <string>{{727,751},{327,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,145}</string>
                <key>spriteSourceSize</key>
                <string>{143,145}</string>
                <key>textureRect</key>
                <string>{{298,751},{143,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,149}</string>
                <key>spriteSourceSize</key>
                <string>{147,149}</string>
                <key>textureRect</key>
                <string>{{149,751},{147,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nosound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,139}</string>
                <key>spriteSourceSize</key>
                <string>{137,139}</string>
                <key>textureRect</key>
                <string>{{588,751},{137,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,127}</string>
                <key>spriteSourceSize</key>
                <string>{327,127}</string>
                <key>textureRect</key>
                <string>{{742,880},{327,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,145}</string>
                <key>spriteSourceSize</key>
                <string>{143,145}</string>
                <key>textureRect</key>
                <string>{{443,751},{143,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PauseAtlas.png</string>
            <key>size</key>
            <string>{1117,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f72dd0a1e54e3a8f5229c0e1796340bc:f928390145a13b168f7e23883a8cc8aa:86510aef39d064b5e455952f0b8d57b6$</string>
            <key>textureFileName</key>
            <string>PauseAtlas.png</string>
        </dict>
    </dict>
</plist>
