<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,63}</string>
                <key>spriteSourceSize</key>
                <string>{147,63}</string>
                <key>textureRect</key>
                <string>{{1376,973},{147,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1112,246}</string>
                <key>spriteSourceSize</key>
                <string>{1112,246}</string>
                <key>textureRect</key>
                <string>{{1,1093},{1112,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font_complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,131}</string>
                <key>spriteSourceSize</key>
                <string>{435,131}</string>
                <key>textureRect</key>
                <string>{{881,846},{435,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font_gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,131}</string>
                <key>spriteSourceSize</key>
                <string>{450,131}</string>
                <key>textureRect</key>
                <string>{{881,713},{450,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font_time'sup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,125}</string>
                <key>spriteSourceSize</key>
                <string>{407,125}</string>
                <key>textureRect</key>
                <string>{{1318,846},{407,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fontfree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,91}</string>
                <key>spriteSourceSize</key>
                <string>{493,91}</string>
                <key>textureRect</key>
                <string>{{881,979},{493,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_fontnofree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,91}</string>
                <key>spriteSourceSize</key>
                <string>{492,91}</string>
                <key>textureRect</key>
                <string>{{1115,1216},{492,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,37}</string>
                <key>spriteSourceSize</key>
                <string>{680,37}</string>
                <key>textureRect</key>
                <string>{{1028,1564},{680,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_linegreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{17,36}</string>
                <key>textureRect</key>
                <string>{{1,1607},{17,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_lineorg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{17,36}</string>
                <key>textureRect</key>
                <string>{{39,1607},{17,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,152}</string>
                <key>spriteSourceSize</key>
                <string>{131,152}</string>
                <key>textureRect</key>
                <string>{{1353,1309},{131,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_pauseback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{829,710}</string>
                <key>spriteSourceSize</key>
                <string>{829,710}</string>
                <key>textureRect</key>
                <string>{{881,1},{829,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_resultback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{878,1090}</string>
                <key>spriteSourceSize</key>
                <string>{878,1090}</string>
                <key>textureRect</key>
                <string>{{1,1},{878,1090}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_subject.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,221}</string>
                <key>spriteSourceSize</key>
                <string>{323,221}</string>
                <key>textureRect</key>
                <string>{{1028,1341},{323,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1025,264}</string>
                <key>spriteSourceSize</key>
                <string>{1025,264}</string>
                <key>textureRect</key>
                <string>{{1,1341},{1025,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,142}</string>
                <key>spriteSourceSize</key>
                <string>{321,142}</string>
                <key>textureRect</key>
                <string>{{1115,1072},{321,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,126}</string>
                <key>spriteSourceSize</key>
                <string>{289,126}</string>
                <key>textureRect</key>
                <string>{{1333,713},{289,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,113}</string>
                <key>spriteSourceSize</key>
                <string>{147,113}</string>
                <key>textureRect</key>
                <string>{{1609,1166},{147,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,99}</string>
                <key>spriteSourceSize</key>
                <string>{128,99}</string>
                <key>textureRect</key>
                <string>{{1624,713},{128,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_no sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,113}</string>
                <key>spriteSourceSize</key>
                <string>{147,113}</string>
                <key>textureRect</key>
                <string>{{1486,1309},{147,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,126}</string>
                <key>spriteSourceSize</key>
                <string>{289,126}</string>
                <key>textureRect</key>
                <string>{{1438,1038},{289,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,113}</string>
                <key>spriteSourceSize</key>
                <string>{147,113}</string>
                <key>textureRect</key>
                <string>{{1601,1315},{147,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_blackbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{77,1607},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1728,1625}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95dfe2767f8817a3b555ab22ae02f077:750b1dbd132bddfd5767aaca13bbc268:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
