<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ae_add1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{103,44}</string>
                <key>spriteSourceSize</key>
                <string>{219,76}</string>
                <key>textureRect</key>
                <string>{{1856,370},{103,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_add2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{117,44}</string>
                <key>spriteSourceSize</key>
                <string>{219,76}</string>
                <key>textureRect</key>
                <string>{{832,1093},{117,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_add3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{105,44}</string>
                <key>spriteSourceSize</key>
                <string>{219,76}</string>
                <key>textureRect</key>
                <string>{{1856,263},{105,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_add4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{111,46}</string>
                <key>spriteSourceSize</key>
                <string>{219,76}</string>
                <key>textureRect</key>
                <string>{{1856,150},{111,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,63}</string>
                <key>spriteSourceSize</key>
                <string>{147,63}</string>
                <key>textureRect</key>
                <string>{{1856,1},{147,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_bgback1464.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,329}</string>
                <key>spriteSourceSize</key>
                <string>{1024,329}</string>
                <key>textureRect</key>
                <string>{{1525,1},{1024,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1856,475},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{1110,246}</string>
                <key>spriteSourceSize</key>
                <string>{1112,246}</string>
                <key>textureRect</key>
                <string>{{832,1275},{1110,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font-100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,43}</string>
                <key>spriteSourceSize</key>
                <string>{121,43}</string>
                <key>textureRect</key>
                <string>{{1547,1812},{121,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_font_complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,131}</string>
                <key>spriteSourceSize</key>
                <string>{435,131}</string>
                <key>textureRect</key>
                <string>{{832,1656},{435,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font_gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,131}</string>
                <key>spriteSourceSize</key>
                <string>{450,131}</string>
                <key>textureRect</key>
                <string>{{832,1523},{450,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font_time'sup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,125}</string>
                <key>spriteSourceSize</key>
                <string>{407,125}</string>
                <key>textureRect</key>
                <string>{{1,1844},{407,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,37}</string>
                <key>spriteSourceSize</key>
                <string>{680,37}</string>
                <key>textureRect</key>
                <string>{{1,1805},{680,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_linegreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{17,36}</string>
                <key>textureRect</key>
                <string>{{1871,1848},{17,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lineorg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{17,36}</string>
                <key>textureRect</key>
                <string>{{832,1212},{17,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1856,559},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_new_back1_1403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,1024}</string>
                <key>spriteSourceSize</key>
                <string>{642,1024}</string>
                <key>textureRect</key>
                <string>{{881,1},{642,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,152}</string>
                <key>spriteSourceSize</key>
                <string>{131,152}</string>
                <key>textureRect</key>
                <string>{{1123,1789},{131,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_pauseback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{829,710}</string>
                <key>spriteSourceSize</key>
                <string>{829,710}</string>
                <key>textureRect</key>
                <string>{{1,1093},{829,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_resultback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{878,1090}</string>
                <key>spriteSourceSize</key>
                <string>{878,1090}</string>
                <key>textureRect</key>
                <string>{{1,1},{878,1090}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_subject1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,179}</string>
                <key>spriteSourceSize</key>
                <string>{321,179}</string>
                <key>textureRect</key>
                <string>{{1610,1523},{321,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_subject2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,114}</string>
                <key>spriteSourceSize</key>
                <string>{113,114}</string>
                <key>textureRect</key>
                <string>{{559,1844},{113,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{1005,246}</string>
                <key>spriteSourceSize</key>
                <string>{1025,264}</string>
                <key>textureRect</key>
                <string>{{881,1027},{1005,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,142}</string>
                <key>spriteSourceSize</key>
                <string>{321,142}</string>
                <key>textureRect</key>
                <string>{{1269,1668},{321,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,126}</string>
                <key>spriteSourceSize</key>
                <string>{289,126}</string>
                <key>textureRect</key>
                <string>{{832,1789},{289,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,113}</string>
                <key>spriteSourceSize</key>
                <string>{147,113}</string>
                <key>textureRect</key>
                <string>{{683,1805},{147,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,99}</string>
                <key>spriteSourceSize</key>
                <string>{128,99}</string>
                <key>textureRect</key>
                <string>{{1741,1848},{128,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_new_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,142}</string>
                <key>spriteSourceSize</key>
                <string>{321,142}</string>
                <key>textureRect</key>
                <string>{{1592,1704},{321,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_new_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,143}</string>
                <key>spriteSourceSize</key>
                <string>{324,143}</string>
                <key>textureRect</key>
                <string>{{1284,1523},{324,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_no sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,113}</string>
                <key>spriteSourceSize</key>
                <string>{147,113}</string>
                <key>textureRect</key>
                <string>{{410,1844},{147,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,126}</string>
                <key>spriteSourceSize</key>
                <string>{289,126}</string>
                <key>textureRect</key>
                <string>{{1256,1812},{289,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,113}</string>
                <key>spriteSourceSize</key>
                <string>{147,113}</string>
                <key>textureRect</key>
                <string>{{1592,1848},{147,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_blackbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1915,1704},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1943,1970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a83d80081f3526a00f86be5765a4aa0e:9dacef02314d666ed31ec010557bea94:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
