<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,63}</string>
                <key>spriteSourceSize</key>
                <string>{147,63}</string>
                <key>textureRect</key>
                <string>{{683,1805},{147,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bgback1464.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,329}</string>
                <key>spriteSourceSize</key>
                <string>{1024,329}</string>
                <key>textureRect</key>
                <string>{{1525,1},{1024,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_chance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1749,1523},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{1110,246}</string>
                <key>spriteSourceSize</key>
                <string>{1112,246}</string>
                <key>textureRect</key>
                <string>{{881,1027},{1110,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font-100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,43}</string>
                <key>spriteSourceSize</key>
                <string>{121,43}</string>
                <key>textureRect</key>
                <string>{{832,1093},{121,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_font_complete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,131}</string>
                <key>spriteSourceSize</key>
                <string>{435,131}</string>
                <key>textureRect</key>
                <string>{{832,1523},{435,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font_gameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,131}</string>
                <key>spriteSourceSize</key>
                <string>{450,131}</string>
                <key>textureRect</key>
                <string>{{1856,1},{450,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_font_time'sup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,125}</string>
                <key>spriteSourceSize</key>
                <string>{407,125}</string>
                <key>textureRect</key>
                <string>{{1856,453},{407,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,37}</string>
                <key>spriteSourceSize</key>
                <string>{680,37}</string>
                <key>textureRect</key>
                <string>{{1,1805},{680,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_linegreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{17,36}</string>
                <key>textureRect</key>
                <string>{{1989,1},{17,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_lineorg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,36}</string>
                <key>spriteSourceSize</key>
                <string>{17,36}</string>
                <key>textureRect</key>
                <string>{{1,1844},{17,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1157,1812},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_new_back1_1403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{642,1024}</string>
                <key>spriteSourceSize</key>
                <string>{642,1024}</string>
                <key>textureRect</key>
                <string>{{881,1},{642,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,152}</string>
                <key>spriteSourceSize</key>
                <string>{131,152}</string>
                <key>textureRect</key>
                <string>{{1595,1523},{131,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_pauseback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{829,710}</string>
                <key>spriteSourceSize</key>
                <string>{829,710}</string>
                <key>textureRect</key>
                <string>{{1,1093},{829,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_resultback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{878,1090}</string>
                <key>spriteSourceSize</key>
                <string>{878,1090}</string>
                <key>textureRect</key>
                <string>{{1,1},{878,1090}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_subject.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,221}</string>
                <key>spriteSourceSize</key>
                <string>{323,221}</string>
                <key>textureRect</key>
                <string>{{832,1656},{323,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{1005,246}</string>
                <key>spriteSourceSize</key>
                <string>{1025,264}</string>
                <key>textureRect</key>
                <string>{{832,1275},{1005,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,142}</string>
                <key>spriteSourceSize</key>
                <string>{321,142}</string>
                <key>textureRect</key>
                <string>{{1839,1275},{321,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,126}</string>
                <key>spriteSourceSize</key>
                <string>{289,126}</string>
                <key>textureRect</key>
                <string>{{1595,1656},{289,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,113}</string>
                <key>spriteSourceSize</key>
                <string>{147,113}</string>
                <key>textureRect</key>
                <string>{{1856,862},{147,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,99}</string>
                <key>spriteSourceSize</key>
                <string>{128,99}</string>
                <key>textureRect</key>
                <string>{{1744,1784},{128,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_new_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,142}</string>
                <key>spriteSourceSize</key>
                <string>{321,142}</string>
                <key>textureRect</key>
                <string>{{1157,1668},{321,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_new_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,143}</string>
                <key>spriteSourceSize</key>
                <string>{324,143}</string>
                <key>textureRect</key>
                <string>{{1269,1523},{324,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_no sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,113}</string>
                <key>spriteSourceSize</key>
                <string>{147,113}</string>
                <key>textureRect</key>
                <string>{{1480,1668},{147,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,126}</string>
                <key>spriteSourceSize</key>
                <string>{289,126}</string>
                <key>textureRect</key>
                <string>{{1886,1598},{289,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,113}</string>
                <key>spriteSourceSize</key>
                <string>{147,113}</string>
                <key>textureRect</key>
                <string>{{1595,1784},{147,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_blackbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1856,1011},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{2013,1898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94be6e7d49279b8084860454e97e56ed:c2a23c1b5eec58c138eb3112a4088a0b:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
