<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>font_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{504,60}</string>
                <key>spriteSourceSize</key>
                <string>{506,60}</string>
                <key>textureRect</key>
                <string>{{1,63},{504,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,64}</string>
                <key>spriteSourceSize</key>
                <string>{528,64}</string>
                <key>textureRect</key>
                <string>{{193,573},{528,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,100}</string>
                <key>spriteSourceSize</key>
                <string>{750,100}</string>
                <key>textureRect</key>
                <string>{{259,288},{750,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,60}</string>
                <key>spriteSourceSize</key>
                <string>{506,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{506,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_fontbiggreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{448,57}</string>
                <key>spriteSourceSize</key>
                <string>{450,59}</string>
                <key>textureRect</key>
                <string>{{1,125},{448,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_fontbiglightgreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{448,57}</string>
                <key>spriteSourceSize</key>
                <string>{450,59}</string>
                <key>textureRect</key>
                <string>{{1,184},{448,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_fontbigorg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,85}</string>
                <key>spriteSourceSize</key>
                <string>{650,85}</string>
                <key>textureRect</key>
                <string>{{361,288},{650,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_fontbigwhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{446,53}</string>
                <key>spriteSourceSize</key>
                <string>{450,59}</string>
                <key>textureRect</key>
                <string>{{451,125},{446,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_fontsmallgreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{830,94}</string>
                <key>spriteSourceSize</key>
                <string>{836,94}</string>
                <key>textureRect</key>
                <string>{{1,288},{830,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_fontsmallorg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{416,43}</string>
                <key>spriteSourceSize</key>
                <string>{418,47}</string>
                <key>textureRect</key>
                <string>{{1,243},{416,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_fontsmallred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{830,94}</string>
                <key>spriteSourceSize</key>
                <string>{836,94}</string>
                <key>textureRect</key>
                <string>{{97,288},{830,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num_fontsmallwhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{416,43}</string>
                <key>spriteSourceSize</key>
                <string>{418,47}</string>
                <key>textureRect</key>
                <string>{{448,573},{416,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FontAtlas.png</string>
            <key>size</key>
            <string>{508,1119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:010bcd26c6f7ef47a8f4d0b8b76a7c9f:803e6b91b974d55ca01adce9cd279992:361a284ad609778f1a8fdfc1d0428ab7$</string>
            <key>textureFileName</key>
            <string>FontAtlas.png</string>
        </dict>
    </dict>
</plist>
