<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ae_complete1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,45}</string>
                <key>spriteSize</key>
                <string>{148,146}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{1,1895},{148,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-14}</string>
                <key>spriteSize</key>
                <string>{620,514}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{1317,633},{620,514}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,23}</string>
                <key>spriteSize</key>
                <string>{616,446}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{1309,1149},{616,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{622,422}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{663,1607},{622,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{318,344}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{1287,1607},{318,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,46}</string>
                <key>spriteSize</key>
                <string>{344,316}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{1607,1597},{344,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_complete3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,72}</string>
                <key>spriteSize</key>
                <string>{636,528}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{679,555},{636,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,47}</string>
                <key>spriteSize</key>
                <string>{656,518}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{1,1141},{656,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,46}</string>
                <key>spriteSize</key>
                <string>{628,520}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{679,1085},{628,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,32}</string>
                <key>spriteSize</key>
                <string>{680,552}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{679,1},{680,552}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,33}</string>
                <key>spriteSize</key>
                <string>{676,562}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{1,577},{676,562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,27}</string>
                <key>spriteSize</key>
                <string>{676,574}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{1,1},{676,574}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_complete9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-10}</string>
                <key>spriteSize</key>
                <string>{630,524}</string>
                <key>spriteSourceSize</key>
                <string>{698,698}</string>
                <key>textureRect</key>
                <string>{{1361,1},{630,524}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>font__game_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,114}</string>
                <key>spriteSourceSize</key>
                <string>{660,114}</string>
                <key>textureRect</key>
                <string>{{1,1661},{660,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,116}</string>
                <key>spriteSourceSize</key>
                <string>{586,116}</string>
                <key>textureRect</key>
                <string>{{1,1777},{586,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Animation.png</string>
            <key>size</key>
            <string>{1938,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feb609b0f7b19c300374153c80eafbd4:f1e550784d0bb7cd22a3ae0721ace81b:935ea5c547feccc8f1bd2ec0e1a13b5f$</string>
            <key>textureFileName</key>
            <string>Animation.png</string>
        </dict>
    </dict>
</plist>
