<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{114,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{114,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,131}</string>
                <key>spriteSourceSize</key>
                <string>{134,131}</string>
                <key>textureRect</key>
                <string>{{117,1},{134,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,142}</string>
                <key>spriteSourceSize</key>
                <string>{348,142}</string>
                <key>textureRect</key>
                <string>{{253,1},{348,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,142}</string>
                <key>spriteSourceSize</key>
                <string>{348,142}</string>
                <key>textureRect</key>
                <string>{{603,1},{348,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,1599}</string>
                <key>spriteSourceSize</key>
                <string>{874,1599}</string>
                <key>textureRect</key>
                <string>{{1,145},{874,1599}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,1599}</string>
                <key>spriteSourceSize</key>
                <string>{874,1599}</string>
                <key>textureRect</key>
                <string>{{1,1021},{874,1599}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>New.png</string>
            <key>size</key>
            <string>{1601,1896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:960806deb4ddd83d8163b03242719552:33d532f1dd1fd6ad1143897b2e85f642:b89dcef09debb3c5563cf8100c9bda61$</string>
            <key>textureFileName</key>
            <string>New.png</string>
        </dict>
    </dict>
</plist>
