<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>am_cnicorn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{302,128}</string>
                <key>spriteSourceSize</key>
                <string>{360,170}</string>
                <key>textureRect</key>
                <string>{{361,1},{302,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_cnicorn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{304,124}</string>
                <key>spriteSourceSize</key>
                <string>{360,170}</string>
                <key>textureRect</key>
                <string>{{53,131},{304,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_cnicorn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{306,122}</string>
                <key>spriteSourceSize</key>
                <string>{360,170}</string>
                <key>textureRect</key>
                <string>{{359,131},{306,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_cnicorn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{306,128}</string>
                <key>spriteSourceSize</key>
                <string>{360,170}</string>
                <key>textureRect</key>
                <string>{{53,1},{306,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_cnicornrainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,50}</string>
                <key>spriteSourceSize</key>
                <string>{169,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FlyCnicorn.png</string>
            <key>size</key>
            <string>{666,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:def8410f428cb619026c2ed4d18428bb:e91d1092dd87dc073cf10275f5acd170:9dc5cd91857270f8dcb364cde1c7f0ff$</string>
            <key>textureFileName</key>
            <string>FlyCnicorn.png</string>
        </dict>
    </dict>
</plist>
