<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>am_cnicorn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{316,170}</string>
                <key>textureRect</key>
                <string>{{315,1},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_cnicorn2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{258,124}</string>
                <key>spriteSourceSize</key>
                <string>{316,170}</string>
                <key>textureRect</key>
                <string>{{53,131},{258,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_cnicorn3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{262,122}</string>
                <key>spriteSourceSize</key>
                <string>{316,170}</string>
                <key>textureRect</key>
                <string>{{313,131},{262,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_cnicorn4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{260,128}</string>
                <key>spriteSourceSize</key>
                <string>{316,170}</string>
                <key>textureRect</key>
                <string>{{53,1},{260,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>am_cnicornrainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,50}</string>
                <key>spriteSourceSize</key>
                <string>{169,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FlyCnicorn.png</string>
            <key>size</key>
            <string>{576,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:013acf41fe380a6ffa40d00d0046b389:3fb5081f03ac440e88d3f4da5fcee90c:9dc5cd91857270f8dcb364cde1c7f0ff$</string>
            <key>textureFileName</key>
            <string>FlyCnicorn.png</string>
        </dict>
    </dict>
</plist>
